#cart {
  display: flex;
  justify-content: center;
  min-height: 600px;

  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    svg {
        font-size: 15rem;
    }
  }

  .quantity {
      font-size: 1.5rem;
  }
}
