#download-app {
  .img-container {
    background-image: url("./assets/imgs/screens.png");
    height: 650px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
